.table-container {
  width: 90%;
  margin: 20px 0px 20px 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

input[type='text'] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
